# Archivos de construcción de NetBeans
/build/
/dist/
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/manifest.mf
/build.xml
/nbproject

# Archivo de configuración con credenciales
Config/DatabaseConnection.java

# Otros archivos comunes a ignorar
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.log
